{% extends "layout_v2.html" %}

{% block bodyId -%} listPage {%- endblock %}

{% block content %}
  <div class="container">

    <br><br><br>
    <h1>图片列表</h1>
    <a data-bind="visible: show_fast_make" href="../img_deal/fast_make">还没有创建图片？快去试试吧！</a>

    <!-- ko: if: inited() -->
    <table class="table table-striped">
      <thead>
      <tr><th>原图</th><th>3d图</th><th>大图链接</th></tr>
      </thead>
      <tbody id="image_list">

      </tbody>
    </table>
    <!-- /ko -->
  </div>

  <script type="text/javascript" src="./static/packed/js/listPage.js"></script>
{% endblock %}