<!DOCTYPE html>
<html lang="en">
<title>TEST PAGE</title>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
  <script src="//cdn.bootcss.com/knockout/3.4.2/knockout-min.js"></script>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h1>jquery test</h1>
<div>
  <input id="text">
  <input id="submit" type="button" value="提交">
  <span id="show">这里什么也没有</span>
</div>
<h1>knockout test</h1>
<div>
  <h2>obervables && computed</h2>
  <label>输入你的名字</label>
  <input data-bind="value: input_text">
  <br>
  <span data-bind="text: show_text, visible: input_text().length > 0"></span>
  <h2>functions</h2>
  <button type="submit" data-bind="click: show_target">点这里显示点击信息</button>
  <a role="button" data-bind="click: show_target">点这里显示点击信息</a>
</div>
<h1>require test (webpack)</h1>
<div>
  <label data-bind="text: count_times"></label>
  <button data-bind="click: require_click">点击累加次数</button>
</div>
<h1>webpack --watch test</h1>
<div>
  <button data-bind="click: req_a_new_js">点击获取一个随机数</button>
</div>
<h1>picture request test</h1>
<div>
  <button data-bind="click: request_pic, text: get_pic_text"></button>
  <br>
  <img id="img_container" src="" data-bind="visible: true">
</div>
<h1>picture post test</h1>
<div>
  <form action="../img_api/upload_pic" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>
</div>
<h1>云片测试</h1>
<div>
  手机号 <input data-bind="value: phone">
  网站名 <input data-bind="value: name">
  商品名 <input data-bind="value: obj">
  详细信息 <input data-bind="value: detail">
  <br>
  <button type="button" data-bind="click: send_msg">点击发送验证码至对应手机号</button>
  <br>
  <span>返回内容：</span><span data-bind="text: ret_msg"></span>
</div>
<h1>阿里大于测试</h1>
<div>
  手机号 <input data-bind="value: phone">
  网站名 <input data-bind="value: name">
  商品名 <input data-bind="value: obj">
  详细信息 <input data-bind="value: detail">
  <br>
  <button type="button" data-bind="click: send_msg_dayu">点击发送验证码至对应手机号</button>
  <br>
  <span>返回内容：</span><span data-bind="text: ret_msg"></span>
</div>
<script type="text/javascript" src="./static/packed/js/testPage.js"></script>
</body>
</html>